<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}">
    </head>
    <body>
        <nav th:replace="~{general/fragmentos :: sidebar}"/>
        <header th:replace="~{general/fragmentos :: barra-superior}"/>

        <div class="contenedor-pagina">
        <div class="contenido-principal">
            <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/>
            <section th:replace="~{categoria/fragmentos :: listadoCategoria}"/>
            <section th:replace="~{categoria/fragmentos :: confirmarEliminarCategoria}"/>
            <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        </div>

        <footer th:replace="~{general/fragmentos :: footer}"/>
        </div>

    </body>
</html>
