<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <nav th:replace="~{general/fragmentos :: sidebar}"/>
        <header th:replace="~{general/fragmentos :: barra-superior}"/>

        <div class="contenedor-pagina">
        <div class="contenido-principal">
            <section th:replace="~{item/fragmentos :: editarItem}"/>
            <section th:replace="~{general/fragmentos :: mostrarToast}"/>
            <th:block th:replace="~{item/fragmentos :: scriptItem}"/>
        </div>

        <footer th:replace="~{general/fragmentos :: footer}"/>
        </div>
    </body>
</html>
