<!DOCTYPE html>
<html>
    <head th:replace="~{general/fragmentos :: head}"/>

    <body>
        <nav th:replace="~{general/fragmentos :: sidebar}"/>
        <header th:replace="~{general/fragmentos :: barra-superior}"/>

        <div class="contenedor-pagina">
        <div class="contenido-principal">
            <section th:replace="~{proveedor/fragmentos :: editarProveedor}"/>
            <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        </div>

        <footer th:replace="~{general/fragmentos :: footer}"/>
        </div>
    </body>
</html>
