<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <title>[[#{aplicacion.titulo}]]</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/png" href="/img/Logo-Municipalidad-Escazu-V_color.png"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/configuracion.js}"></script>
        <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
    </head>

    <!-- ================= HEADER ================= -->
    <header th:fragment="header" class="header">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand"> <img th:src="@{/img/Logo-Municipalidad-Escazu.png}"/> [[#{aplicacion.nombre}]]</a>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2">
                            <a class="nav-link" th:href="@{/item/listado}">[[#{plantilla.items}]]
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" th:href="@{/categoria/listado}">[[#{plantilla.categorias}]]
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" th:href="@{/proveedor/listado}">[[#{plantilla.proveedor}]]
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]
                            </a>
                        </li>
                    </ul>
                    <div>
                        <a th:href="@{?lang=es}" 
                           th:classappend="${#locale.language == 'es'} ? 'btn-primary' : 'btn-outline-light'" 
                           class="btn btn-sm me-1">ES</a>
                        <a th:href="@{?lang=en}" 
                           th:classappend="${#locale.language == 'en'} ? 'btn-primary' : 'btn-outline-light'" 
                           class="btn btn-sm">EN</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- ================= FOOTER ================= -->
    <footer th:fragment="footer" class="footer text-white text-center p-3 mt-5">
        <p class="lead m-0">[[#{plantilla.derechos}]] &copy;</p>
    </footer>


    <!-- ================= TOAST MENSAJES ================= -->
    <section th:fragment="mostrarToast">

        <div aria-live="polite"
             aria-atomic="true"
             class="position-fixed top-50 start-50 translate-middle"
             style="z-index:1080;">

            <!-- ERROR -->
            <div th:if="${error}"
                 class="toast show"
                 role="alert"
                 data-bs-autohide="true">
                <div class="toast-header text-white bg-danger">
                    <i class="fa-solid fa-triangle-exclamation me-2"></i>
                    <strong class="me-auto">
                        [[#{error}]]
                    </strong>
                </div>
                <div class="toast-body">
                    <p>[[${error}]]</p>
                    <div class="mt-2 pt-2 border-top text-center">
                        <button type="button"
                                class="btn btn-secondary btn-sm"
                                data-bs-dismiss="toast">
                            [[#{accion.cerrar}]]
                        </button>
                    </div>
                </div>
            </div>

            <!-- EXITO -->
            <div th:if="${todoOk}"
                 class="toast show"
                 role="status"
                 data-bs-autohide="true">
                <div class="toast-header text-white bg-success">
                    <i class="fa-solid fa-circle-check me-2"></i>
                    <strong class="me-auto">
                        [[#{atencion}]]
                    </strong>
                </div>
                <div class="toast-body">
                    <p>[[${todoOk}]]</p>
                    <div class="mt-2 pt-2 border-top text-center">
                        <button type="button"
                                class="btn btn-secondary btn-sm"
                                data-bs-dismiss="toast">
                            [[#{accion.cerrar}]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>