<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>
        <nav th:replace="~{general/fragmentos :: sidebar}"></nav>
        <header th:replace="~{general/fragmentos :: barra-superior}"></header>

        <div class="contenedor-pagina">
        <div class="contenido-principal">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h2 class="mb-3">[[#{aplicacion.nombre}]]</h2>
                        <p class="text-muted">Seleccione una opcion del menu para comenzar.</p>
                    </div>
                </div>
                <div class="row justify-content-center mt-4 g-3">
                    <div class="col-md-3">
                        <a th:href="@{/item/listado}" class="text-decoration-none">
                            <div class="card text-center p-4">
                                <i class="fa-solid fa-boxes-stacked fa-2x mb-2" style="color: var(--escazu-turquesa);"></i>
                                <h6>[[#{plantilla.items}]]</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/movimiento/listado}" class="text-decoration-none">
                            <div class="card text-center p-4">
                                <i class="fa-solid fa-arrows-rotate fa-2x mb-2" style="color: var(--escazu-verde);"></i>
                                <h6>[[#{plantilla.movimientos}]]</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/categoria/listado}" class="text-decoration-none">
                            <div class="card text-center p-4">
                                <i class="fa-solid fa-tags fa-2x mb-2" style="color: var(--escazu-morado);"></i>
                                <h6>[[#{plantilla.categorias}]]</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/proveedor/listado}" class="text-decoration-none">
                            <div class="card text-center p-4">
                                <i class="fa-solid fa-truck fa-2x mb-2" style="color: var(--escazu-naranja);"></i>
                                <h6>[[#{plantilla.proveedor}]]</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>
        </div>
    </body>

</html>
