/*
PALETA ESCAZU
*/

:root{
    --escazu-morado:#6B3FD1;
    --escazu-morado-oscuro:#431699;
    --escazu-naranja:#f86828;
    --escazu-naranja-oscuro: #d94e16;
    --escazu-turquesa:#1cb6b8;
    --escazu-verde:#168f48;
    --escazu-verde-profundo:#0F6A35;
    --escazu-rosa:#ff0043;
    --escazu-verde-oscuro:#0f7e7f;
    --escazu-verde-claro:#179798;
}

.bg-info{
    background-color: var(--escazu-verde-oscuro)!important;
    color: white;
}

.bg-warning{
    background-color: var(--escazu-rosa) !important;
    color: white;
}

.header{
    background-color: var(--escazu-turquesa);
}

.navbar{
    background-color: var(--escazu-turquesa);
}

.navbar-brand{
    color:white !important;
    font-weight:600;
}

.nav-link{
    color:white !important;
}

.nav-link:hover{
    color: var(--escazu-morado) !important;
}

footer{
    background-color: var(--escazu-morado);
}

.btn-primary{
    background-color: var(--escazu-verde); 
    border:none;
}

.btn-primary:hover{
    background-color: var(--escazu-verde-profundo);
}

.btn-success{
    background-color: var(--escazu-morado);
    border:none;
}

.btn-success:hover{
    background-color: var(--escazu-morado-oscuro);
    border:none;
}

.btn-danger{
    background-color: var(--escazu-naranja);
    border:none;
}

.btn-danger:hover{
    background-color: var(--escazu-naranja-oscuro);
}

.btn-warning{
    background-color: var(--escazu-verde-claro);
    border:none;
}

.btn-warning:hover{
    background-color: var(--escazu-verde-oscuro);
}

.toast-header.bg-success{
    background-color: var(--escazu-morado) !important;
}

.toast-header.bg-danger{
    background-color: var(--escazu-rosa) !important;
}

