<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>

        <section th:replace="~{movimiento/fragmentos :: botonesMovimiento}"/>
        <section th:replace="~{movimiento/fragmentos :: listadoMovimiento}"/>
        <section th:replace="~{movimiento/fragmentos :: modalEntrada}"/>
        <section th:replace="~{movimiento/fragmentos :: modalSalida}"/>
        <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        <th:block th:replace="~{movimiento/fragmentos :: scriptMovimiento}"/>

        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
