<section th:fragment="loginSection">
    <div class="card login-card">
        <div class="card-header text-center">
            <h4>Iniciar Sesion</h4>
        </div>
        <div class="card-body">
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label class="form-label">[[#{login.correo}]]</label>
                    <input type="email"
                           name="username"
                           class="form-control"
                           placeholder="Ingrese su correo"
                           required>
                </div>
                <div class="mb-3">
                    <label class="form-label">[[#{login.contraseña}]]</label>
                    <input type="password"
                           name="password"
                           class="form-control"
                           placeholder="Ingrese su contraseña"
                           required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        [[#{login.iniciarsesion}]]
                    </button>
                </div>
            </form>

            <div th:if="${param.error}" class="alert alert-danger">
                Credenciales incorrectas
            </div>
        </div>
    </div>
</section>
